language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly" # currently points to 3.7-dev
install:
  - pip install --upgrade pip
  - pip install .
  - pip install .[test]
script:
  - py.test --cov-report html --cov slap --verbose
after_success: 
  - coveralls
